{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Main Section Start -->
<div class="main-section">
	<!-- Home Pages Elements Strat -->
	<!-- Main Search Start -->
	<div class="page-section nopadding cs-nomargin" style="padding-top: 200px; padding-bottom: 150px; padding-left: 200px; margin-bottom: 0px; background: url({%static "extra-images/banner-img3.jpg" %}) no-repeat center / cover;">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-md-8 col-sm-8 col-xs-8">
					<div class="element-title">
						<h2 style="color:black !important; background-color:  rgba(255, 255, 255, 0.5); padding-left:10px;padding-top:10px;padding-bottom:10px;padding-right:-20px; border-radius: 5px;margin-left:70px;margin-right:140px;">
							Delicious meals, delivered to your doorstep!</h2>
					</div>
				</div>
				<div class="col-lg-9 col-md-5 col-sm-8 col-xs-9 "  style=" padding-left: 60px;padding-right:35px">
					<div class="main-search fancy bg-holder">
						<form action="{% url 'search' %}" method="GET">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
									<div class="field-holder">
										<input type="text" name="keyword" placeholder="Restaurant / Food Name"  style="width:233px;border-radius:8px;font-size: 14px;">
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-5 col-xs-10" >
									<div class="field-holder">
										<ul>
											<li class="select-location">
												<div class="foodbakery-locations-fields-group foodbakery-focus-out" >
													<span id="foodbakery_radius_location_open333" class="foodbakery-radius-location"><i class="icon-target5"></i></span>
													<input type="text" name="address" class="location-field-text filter" id="id_address" placeholder="All Locations" style="border-radius:10px !important;font-size:14px;width:235px;margin-left:9px;" >
													<input type="hidden" name="lat" value="" id="id_latitude">
													<input type="hidden" name="lng" value="" id="id_longitude">
												</div>
												
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" >
									<div class="field-holder" >
										<select name="radius" id="radius" style="margin-left:20px;height:49px;border-radius:8px;width:95px;">
											<option value="">Radius</option>
											<option value="5">5 Km</option>
											<option value="10">10 Km</option>
											<option value="15">15 Km</option>
											<option value="20">20 Km</option>
											<option value="25">25 Km</option>
										</select>
									</div>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" >
									<div class="field-holder" >
										<input type="submit" style="border-radius: 5px; font-size: 18px; padding-left:10px;padding-right:-12px;margin-left:9px;font-weight:590 !important;color:black;background-color:rgb(233, 202, 26);" value="enter">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- Main Search End -->
	
	<!-- Top Restarurants Section Start -->
	<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 0px;padding-bottom: 0px;margin-bottom: 0px;background: url({% static 'extra-images/banner-img3.jpg' %}) repeat center left;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
					<div class="element-title align-center" style="position: relative; z-index: 1;">
						<h2 style="color:black !important; background-color: rgba(255, 255, 255, 0.7); padding: 10px; border-radius: 5px;">
							Some of our Most Famous Restaurants
						</h2>
					</div>
					
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style = "padding-right:0 !important; padding-left: 0 !important">
					<div class="company-logo">
						<ul>
							{% for v in vendors %}
							<li class="has-border">
								<figure>
									{% if v.profile.profile_pic %}
										<a href="#"><img src="{{ v.profile.profile_pic.url }}" class="attachment-full size-full wp-post-image" alt=""></a>
									{% else %}
										<a href="#"><img src="{% static 'images/default-logo.jpg' %}" class="attachment-full size-full wp-post-image" alt=""></a>
									{% endif %}
								</figure>
							</li>
							{% endfor %}
							<li class="has-border">
								<figure>
									<a href="#"><img src="{% static "extra-images/rst1.jpg"%}" class="attachment-full size-full wp-post-image" alt=""></a>
								</figure>
							</li>
							<li class="has-border">
								<figure>
									<a href="#"><img src="{% static "extra-images/rst2.png"%}" class="attachment-full size-full wp-post-image" alt=""></a>
								</figure>
							</li>
							<li class="has-border">
								<figure>
									<a href="#"><img src="{% static "extra-images/rst4.png"%}" class="attachment-full size-full wp-post-image" alt=""></a>
								</figure>
							</li>
							<li class="has-border">
								<figure>
									<a href="#"><img src="{% static "extra-images/rst3.jpg"%}" class="attachment-full size-full wp-post-image" alt=""></a>
								</figure>
							</li>
							<li class="has-border">
								<figure>
									<a href="#"><img src="{% static "extra-images/rst5.jpg"%}" class="attachment-full size-full wp-post-image" alt=""></a>
								</figure>
							</li>
							<li class="has-border">
								<figure>
									<a href="#"><img src="{% static "extra-images/rst10.jpg"%}" class="attachment-full size-full wp-post-image" alt=""></a>
								</figure>
							</li>
							<li class="has-border">
								<figure>
									<a href="#"><img src="{% static "extra-images/rst8.jpg"%}" class="attachment-full size-full wp-post-image" alt=""></a>
								</figure>
							</li>
							<li class="has-border">
								<figure>
									<a href="#"><img src="{% static "extra-images/rst4.png"%}" class="attachment-full size-full wp-post-image" alt=""></a>
								</figure>
							</li>
							<li class="has-border">
								<figure>
									<a href="#"><img src="{% static "extra-images/rst6.jpg"%}" class="attachment-full size-full wp-post-image" alt=""></a>
								</figure>
							</li>
							<li class="has-border">
								<figure>
									<a href="#"><img src="{% static "extra-images/rst9.jpg"%}" class="attachment-full size-full wp-post-image" alt=""></a>
								</figure>
							</li>
							<li class="has-border">
								<figure>
									<a href="#"><img src="{% static "extra-images/rst11.png"%}" class="attachment-full size-full wp-post-image" alt=""></a>
								</figure>
							</li>
							<li class="has-border">
								<figure>
									<a href="#"><img src="{% static "extra-images/rst12.jpg"%}" class="attachment-full size-full wp-post-image" alt=""></a>
								</figure>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Top Restarurants Section End -->


	<!-- Choose From Most Popular Listin Start -->
	<div class="page-section nopadding cs-nomargin" style="background: url({% static 'extra-images/banner-img3.jpg' %});  background-size: auto;margin-top: 0px;padding-top: 0px;padding-bottom: 50px;margin-bottom: 0px;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="element-title align-center" style="position: relative; z-index: 1;">
						{% comment %} <h2 style="color:black !important; background-color: rgba(255, 255, 255, 0.7); padding: 10px; border-radius: 5px;">
							Choose From our Most Popular Restaurants
						</h2> {% endcomment %}
					</div>
					
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="listing fancy">
						<ul class="row">

							{% for v in vendors %}
							<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="list-post featured">
									<div class="img-holder">
										<figure>
											{% if v.profile.profile_pic %}
												<a href="#"><img src="{{ v.profile.profile_pic.url }}" class="img-thumb wp-post-image" alt=""></a>
											{% else %}
												<a href="#"><img src="{% static "extra-images/rst13.jpg" %}" class="img-thumb wp-post-image" alt=""></a>
											{% endif %}
										</figure>
										<span class="restaurant-status close">
											<em class="bookmarkRibbon"></em>Close
										</span>
									</div>
									<div class="text-holder">
										{% comment %} <div class="list-rating">
											<div class="rating-star">
												<span class="rating-box" style="width: 100%;"></span>
											</div>
											<span class="reviews">(1781)</span>
										</div> {% endcomment %}
										<div class="post-title">
											<h5>
												<a href="listing-detail.html">{{v.name}}</a>
											</h5>
										</div>
										{% if  v.profile.city and v.profile.state and v.profile.pin%}
										<span>{{v.profile.city}}, {{v.profile.state }}, {{v.profile.pin}}</span>
										{% else %}
										<address> <span>Type of food : </span> Mexican Cuisine, Indian Cuisine</address>
										{% endif %}
									</div>
									
								</div>
							</li>
							
							{% endfor %}
							
							
							<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="list-post featured">
									<div class="img-holder">
										<figure><a href="#"><img src="{% static "extra-images/rst12.jpg" %}" class="img-thumb wp-post-image" alt=""></a></figure>
										<span class="restaurant-status open">
											<em class="bookmarkRibbon"></em>open
										</span>
									</div>
									<div class="text-holder">
										<div class="list-rating">
											<div class="rating-star">
												<span class="rating-box" style="width: 100%;"></span>
											</div>
											<span class="reviews">(2392)</span>
										</div>
										<div class="post-title">
											<h5>
												<a href="listing-detail.html">Chef's Palace</a>
												<span class="sponsored text-color">Sponsored</span>
											</h5>
										</div>
										<address> <span>Type of food : </span> Mexican Cuisine, Indian Cuisine</address>
									</div>
								</div>
							</li>
							
							<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="list-post featured">
									<div class="img-holder">
										<figure><a href="#"><img src="{% static "extra-images/rst11.png" %}" class="img-thumb wp-post-image" alt=""></a></figure>
										<span class="restaurant-status open">
											<em class="bookmarkRibbon"></em>Open
										</span>
									</div>
									<div class="text-holder">
										<div class="list-rating">
											<div class="rating-star">
												<span class="rating-box" style="width: 100%;"></span>
											</div>
											<span class="reviews">(7081)</span>
										</div>
										<div class="post-title">
											<h5>
												<a href="listing-detail.html">Nashville Chicken Hub </a>
												<span class="sponsored text-color">Sponsored</span>
											</h5>
										</div>
										<address> <span>Type of food : </span> American Snacks</address>
									</div>
									
								</div>
							</li>

							<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="list-post featured">
									<div class="img-holder">
										<figure><a href="#"><img src="{% static "extra-images/rst8.jpg" %}" class="img-thumb wp-post-image" alt=""></a></figure>
										<span class="restaurant-status close">
											<em class="bookmarkRibbon"></em>Close
										</span>
									</div>
									<div class="text-holder">
										<div class="list-rating">
											<div class="rating-star">
												<span class="rating-box" style="width: 100%;"></span>
											</div>
											<span class="reviews">(3571)</span>
										</div>
										<div class="post-title">
											<h5>
												<a href="listing-detail.html">Mama's Boy Cafe</a>
												<span class="sponsored text-color">Sponsored</span>
											</h5>
										</div>
										<address> <span>Type of food : </span> Chinese Food</address>
									</div>
									
								</div>
							</li>

							<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="list-post featured">
									<div class="img-holder">
										<figure><a href="#"><img src="{% static "extra-images/rst14.jpg" %}" class="img-thumb wp-post-image" alt=""></a></figure>
										<span class="restaurant-status open">
											<em class="bookmarkRibbon"></em>Open
										</span>
									</div>
									<div class="text-holder">
										<div class="list-rating">
											<div class="rating-star">
												<span class="rating-box" style="width: 100%;"></span>
											</div>
											<span class="reviews">(943)</span>
										</div>
										<div class="post-title">
											<h5>
												<a href="listing-detail.html">RichiRich Restarurant</a>
												<span class="sponsored text-color">Sponsored</span>
											</h5>
										</div>
										<address> <span>Type of food : </span> Indonesian Food</address>
									</div>
								</div>
							</li>
							<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="list-post featured">
									<div class="img-holder">
										<figure><a href="#"><img src="{% static "extra-images/rst14.jpg" %}" class="img-thumb wp-post-image" alt=""></a></figure>
										<span class="restaurant-status open">
											<em class="bookmarkRibbon"></em>Open
										</span>
									</div>
									<div class="text-holder">
										<div class="list-rating">
											<div class="rating-star">
												<span class="rating-box" style="width: 100%;"></span>
											</div>
											<span class="reviews">(943)</span>
										</div>
										<div class="post-title">
											<h5>
												<a href="listing-detail.html">RichiRich Restarurant</a>
												<span class="sponsored text-color">Sponsored</span>
											</h5>
										</div>
										<address> <span>Type of food : </span> Indonesian Food</address>
									</div>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Choose From Most Popular Listing End -->

	<!-- Home Pages Elements End  -->
</div>
<!-- Main Section End -->
{% endblock  %}