{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Main Section Start -->
<div class="main-section">
    <div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 10px;margin-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                            
                        </aside>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <div class="listing-sorting-holder">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        {% if vendor_count > 1 %}
                                        <h4>{{ vendor_count}} Restaurants found</h4>
                                        {% else %}
                                        <h4>{{ vendor_count}} Restaurant found</h4>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            
                            <div class="listing simple">
                                <ul>
                                    {% for v in vendors %}
                                    <li style="line-height:15px;">
                                        <div class="img-holder">
                                            <figure>
                                                {% if v.profile.profile_pic %}
                                                <a href="#"><img src="{{ v.profile.profile_pic.url }}" class="img-list wp-post-image" alt=""></a>
                                                {% else %}
                                                <a href="#"><img src="{% static 'images/default-logo.jpg' %}" class="img-list wp-post-image" alt=""></a>
                                                {% endif %}
                                            </figure>
                                            <!--Dynamic Bussiness Hours based open/close-->
										{% if v.is_open %}
										<span class="restaurant-status open">
											<em class="bookmarkRibbon"></em>Open
										</span>
										{% else %}
										<span class="restaurant-status close">
											<em class="bookmarkRibbon"></em>Close
										</span>
										{% endif %}
                                            
                                        </div>
                                        <div class="text-holder"> 
                                            <div class="post-title">
                                                <h5>
                                                    <a href="{%url 'vendorDetail' v.vendor_slug %}">{{v.name}}</a>
                                                </h5>
                                            </div>
                                            {% if v.profile.address %}
                                            <span><small class="text-muted">{{ v.profile.address}}</small></span>
                                            <br>
                                            {% endif %}
                                            <br>
                                            {% if source_location %}
                                            <span><small><b>{{v.kms}} kms</b> away from your search location: {{source_location}}</small></span>
                                            {% endif %}
                                        </div>
                                        <div class="list-option">
                                            <a href="{%url 'vendorDetail' v.vendor_slug %}" class="viewmenu-btn text-color">View Menu</a>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            
                            
                        </div>
                        <div class="section-sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="message-box" style="background-color:rgb(241, 189, 17); margin-top:42px;height:170px;">
                                <strong style="margin-top:-18px; color:black;">Not Listed?</strong><span style="color:black;">To register your
                                    business on our marketplace click on the button below</span>
                                <a href="{% url 'registerVendor' %}" class="request-btn" style="color:black !important;">Add Your Business Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->

{% endblock content %}


