@keyframes show-toast{
    0% {top: -100%}
    20% {top: 88px}
    80% {top: 88px}
    100% {top: -100%}
}
.show-notification{
    position: relative;
    top: -200px;
    left: 50%;
    margin-left: -120px;
    animation-name: show-toast;
    animation-duration: 10s;
    z-index: 9999;
}

.btnx-info {
    cursor: pointer;
    width: 230px;
    padding: 5px;
    color: #fff;
    background-color: #7f7878;
    border-color: #000;
    border-radius:8px;
}

.btnx-info:hover {
    cursor: pointer;
    color: #000000;
    background-color: #c7b213;
    border-color: #c7b213;
}