@keyframes show-toast{
    0% {top: -100%}
    20% {top: 88px}
    80% {top: 88px}
    100% {top: -100%}
}
.show-notification{
    position: absolute;
    top: -200px;
    left: 50%;
    margin-left: -120px;
    animation-name: show-toast;
    animation-duration: 10s;
    z-index: 9999;
}

.btnx-info {
    width: 230px;
    padding: 5px;
    color: #fff;
    background-color: #7f7878;
    border-color: #000;
    border-radius:8px;
}

.btnx-info:hover {
    cursor: pointer;
    color: #000000;
    background-color: #c7b213;
    border-color: #c7b213;
}

.footer-link {
    color: white;
    text-decoration: none;
}

/* Hover effect for links */
.footer-link:hover {
    color:#c46e23; 
}

.btnx-2{
    background-color:rgb(129, 122, 122);
    border: none;
    color: white; 
    padding: 12px 30px; 
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    width:85%;
}

.btnx-2:hover{
    background-color:#ffee07;
    border: none;
    color: rgb(0, 0, 0); 
    padding: 12px 30px; 
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    width:85%;
}

.main-search.fancy.field-holder input[type="text"]{
    color: #00000000 !important;
}