{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Main Section Start -->
<div class="main-section" style="background-image: url('{% static 'extra-images/banner-img8.jpg' %}'); background-size: cover; background-position: center center; padding: 50px 0;">
    <div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 60px;margin-bottom: 0px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder login-webpage">
                        <div class="user-holder">
                            <h2 class="text-center" style="font-family: 'Courier New', Courier, monospace; color: #2c3e50; margin-bottom: 20px;">Welcome To FeastExpress !!</h2>
                            <p class="text-center" style="font-size: 16px; color: #7f8c8d;">Please enter your credentials to login.</p>
                            <hr style="border: 1px solid #ecf0f1; margin: 20px 0;">
                            <div id="restaurant-sets-holder">
                                <!-- Form to submit to registerUser with csrf token -->
                                <form action="{% url 'login' %}" method="post" class="form-fields-set foodbakery-dev-restaurant-form" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <ul class="register-add-restaurant-tab-container restaurant-information-tab-container">
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label style="font-weight: 600; color: #34495e;margin-left: 32px"><h5>Email ID:</h5></label>
                                                        <input type="email" name="email" placeholder="Enter your Email ID" class="form-control for-email" style="border-radius: 5px; border: 1px solid #ccc; padding: 10px; font-size: 16px; width: 132%; margin-bottom: 15px;margin-left: 32px">
                                                    </div>
                                                </div> 
                                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label style="font-weight: 600; color: #34495e;margin-left: 32px"><h5>Password:</h5></label>
                                                        <input type="password" name="password" placeholder="Enter your Password" class="form-control for-password" style="border-radius: 5px; border: 1px solid #ccc; padding: 10px; font-size: 16px; width: 132%; margin-bottom: 20px;margin-left: 32px">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <!-- Submit button -->
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder d-flex flex-column align-items-center">
                                                        <input type="submit" value="SIGN IN" id="btn-next-restaurant-information" class="btnx-2" >
                                                        <a href="{% url 'forgotPassword' %}" style="margin-top: 10px; color: #3498db; text-decoration: none; font-size: 16px;">Forgot Password?</a>
                                                    </div>
                                                     
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    {% include "section/alerts.html" %}
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->
{% endblock content %}
