{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Main Section Start -->
<div class="main-section" style="background-image: url('{% static 'extra-images/banner-img8.jpg' %}'); background-size: cover; background-position: center center; padding: 50px 0;">
    <div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 60px;margin-bottom: 0px;">
        <div class="container" style="display: flex; justify-content: left; align-items: center; height: 100vh;">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder" style="margin-left:155px;width: 565px;height:650px; padding: 30px; border-radius: 10px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); background-color: #fff;">
                        <div class="user-holder">
                            <h2 class="text-center" style="font-family: 'Courier New', Courier, monospace; color: #2c3e50; margin-bottom: 20px;">Welcome To FeastExpress !!</h2>
                            <p class="text-center" style="font-size: 16px; color: #7f8c8d;">Please fill this form to Sign Up</p>
                            <hr style="border: 1px solid #ecf0f1; margin: 20px 0;">
                            <div id="restaurant-sets-holder">
                                <!-- Form to submit to signup with csrf token -->
                                <form action="{% url 'signup' %}" class="form-fields-set foodbakery-dev-restaurant-form" method="post">
                                    {% csrf_token %}
                                    <ul class="register-add-restaurant-tab-container restaurant-information-tab-container">
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="field-holder" style="width:230px;margin-left:13px;">
                                                        <label for="username" style="font-weight: 600; color: #34495e;"><h5>Username:</h5></label>
                                                        {{form.username}}
                                                    </div>
                                                </div>
                                                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="field-holder" style="width:230px;margin-left:45px;">
                                                        <label for="f_name" style="font-weight: 600; color: #34495e;"><h5>First Name:</h5></label>
                                                        {{form.f_name}}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                                                <div class="field-holder" style="width:230px;margin-left:0px;">
                                                    <label for="l_name" style="font-weight: 600; color: #34495e;"><h5>Last Name:</h5></label>
                                                    {{form.l_name}}
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                                                <div class="field-holder" style="width:230px;margin-left:40px;">
                                                    <label for="email" style="font-weight: 600; color: #34495e;"><h5>Email Address:</h5></label>
                                                    {{form.email}}
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="field-holder" style="width:230px;margin-left:13px;">
                                                        <label for="password" style="font-weight: 600; color: #34495e;"><h5>Password:</h5></label>
                                                        {{form.password}}
                                                    </div>
                                                </div>
                                                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="field-holder" style="width:230px;margin-left:45px;">
                                                        <label for="confirm_password" style="font-weight: 600; color: #34495e;"><h5>Confirm Password:</h5></label>
                                                        {{form.confirm_password}}
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </li>
                                        <li>
                                            <!-- Display validation errors -->
                                            <ul class="errorlist" style="color: red;">
                                                {% for field in form %}
                                                    {% if field.errors %}
                                                        {% for error in field.errors %}
                                                            <li>{{error}}</li>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                                <li>{{form.non_field_errors}}</li>
                                            </ul>
                                            <!-- Submit Button -->
                                            <div class="row"style="margin-top:30px">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="field-holder text-center">
                                                        <input type="submit" value="Register" class="bgcolor" style="background-color: #2ecc71; border: none; color: white; padding: 12px 30px; font-size: 19px; font-weight: bold; border-radius: 5px; cursor: pointer;width:35%">
                                                        <div class="field-holder text-center" style="margin-top:15px;">
                                                            <span style="font-size:18px;">Already have an account?<a href="{% url 'login' %}" style="margin-top: 10px; color: #3498db; text-decoration: none; font-size: 18px;"> Sign In</a></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Alerts Section -->
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    {% include "parts/alerts.html" %}
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->
{% endblock content %}
