{% load static %}
<footer id="footer" class="footer-style-2">
<div class="page-section restaurant-detail-image-section" style="margin-bottom:0px;height:430px;background: url({% static 'extra-images/newsletter2.jpg' %}) repeat center top ;">
    <!-- Container Start -->
    <div>
        <div class="container" style="margin-bottom: 0px;">
            <!-- Row Start -->
            <div class="row justify-content-center">
                <!-- Column Start -->
                <div class="col-lg-8 col-md-10 col-sm-12 text-center">
                    <div class="widget widget-newsletter" style="margin-top:-50px;">
                        <div>
                            <h2 style="color:black !important;background-color: rgba(212, 130, 29, 0.7);margin-left:117px;margin-right:117px;">Subscribe to our Newsletter Now!</h2>
                        </div>
                        <div class="fieldset">
                            <form action="#" class="d-flex flex-column align-items-center">
                                <div class="field-holder mb-9" style="max-width: 400px; width: 100%;">
                                    <label class="w-100">
                                        <i class="icon-envelope3"></i>
                                        <input type="text" class="field-input form-control" 
                                               placeholder="Enter Your Email Address..." 
                                               style="width: 100%; font-size:16px;padding: 10px;text-align:center">
                                            </label>
                                    
                                </div>
                                <div class="field-holder btn-holder" style="max-width: 200px; width: 100%;">
                                    <input class="subscribe-btn bgcolor btn btn-danger w-100" 
                                           type="submit" value="Sign Up" 
                                           style="font-size: 15px; padding-top: 0px;">
                                </div>
                            </form>
                            <div>
                                <hr style="border-top: px solid #ffffff; margin-top: 5px ;margin-left:-1000px; width: 9000px;">
                                    
                                     <!-- Links Section -->
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6 col-sm-12">
                                                <h4 style="color:white;background-color: rgba(212, 130, 29, 0.7);">Company</h4>
                                                <ul>
                                                    <li><a href="#" class="footer-link" style="color: white;">Eternal</a></li>
                                                    <li><a href="#" class="footer-link" style="color: white;">FeastExpress</a></li>
                                                    <li><a href="#" class="footer-link" style="color: white;">District</a></li>
                                                    <li><a href="#" class="footer-link" style="color: white;">Hyperpure</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-12">
                                                <h4 style="color:white;background-color: rgba(212, 130, 29, 0.7);">Partnership</h4>
                                                <ul>
                                                    <li><a href="#" class="footer-link" style="color: white;">Investor Relations</a></li>
                                                    <li><a href="#" class="footer-link" style="color: white;">For Restaurants</a></li>
                                                    <li><a href="#" class="footer-link" style="color: white;">Partner With Us</a></li>
                                                    <li><a href="#" class="footer-link" style="color: white;">Apps For You</a></li>
                                                    <li><a href="#" class="footer-link" style="color: white;">For Delivery Partners</a></li>
                                                    <li><a href="#" class="footer-link" style="color: white;">Learn More</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-12">
                                                <h4 style="color:white;background-color: rgba(212, 130, 29, 0.7);">Legal</h4>
                                                <ul>
                                                    <li><a href="#" class="footer-link" style="color: white;">Privacy</a></li>
                                                    <li><a href="#"  class="footer-link" style="color: white;">Security</a></li>
                                                    <li><a href="#" class="footer-link" style="color: white;">Terms of Service</a></li>
                                                    <li><a href="#" class="footer-link" style="color: white;">Help & Support</a></li>
                                                    <li><a href="#" class="footer-link" style="color: white;">Report a Fraud</a></li>
                                                    <li><a href="#" class="footer-link" style="color: white;">Blog</a></li>
                                                </ul>
                                            </div>
                                            <!-- Social & App Download Section -->
                                            <div class="col-lg-3 col-md-6 col-sm-12">
                                                <h4 style="color:white;background-color: rgba(212, 130, 29, 0.7);">Follow Us</h4>
                                                <ul class="social-links">
                                                    <li><a href="#" style="color: white;"><i class="icon-facebook"></i></a></li>
                                                    <li><a href="#" style="color: white;"><i class="icon-twitter"></i></a></li>
                                                    <li><a href="#" style="color: white;"><i class="icon-instagram"></i></a></li>
                                                    <li><a href="#" style="color: white;"><i class="icon-linkedin"></i></a></li>
                                                </ul>
                                                
                                            </div>
                                        </div>
                                    </div>
                                        </div>
                                    </div>
                                    {% comment %} <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <p style="color: white;margin-right:00px;">© 2025 FeastExpress. All Rights Reserved.</p>
                                        </div>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Links Section End -->
<!-- Social & App Download Section End -->
 
</footer>
