<footer id="footer" class="footer-style-2">
    <div class="page-section restaurant-detail-image-section" 
         style="margin-bottom:0px; height:420px; background:rgba(0, 0, 0, 0.82); padding-left:20px; text-align: center;">
        
        <!-- Title Section -->
        <div style="padding-top:-90px; padding-bottom: 0px;">
            <h1 style="color:lightgrey !important; margin-bottom: 10px;margin-top:-80px;margin-left:-800px;">FEAST EXPRESS</h1> 
        </div>
        {% comment %} <div class="padding-top:-90px;padding-bottom:-0px;">
            <span style="color: white; font-size: 16px; margin-right: 10px;margin-top:80px !important;">Subscribe to our newsletter</span>
            <input type="email" placeholder="Enter your email" 
                   style="padding: 5px; border-radius: 5px; border: none; margin-right: 10px;width:200px;">
            <button style="padding: 5px 10px; border-radius: 5px; background-color: #ff4500; color: white; border: none; cursor: pointer;">
                Sign Up
            </button>
        </div> {% endcomment %}
        <hr style="border: 0.5px solid grey; margin: 5px 0;margin-bottom:25px;width:1110px;margin-left:65px;">
        <!-- Links Section -->
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h4 style="color:white !important;">Company</h4>
                    <ul>
                        <li><a href="#" class="footer-link" style="color: grey;">Eternal</a></li>
                        <li><a href="#" class="footer-link" style="color: grey;">Feast Express</a></li>
                        <li><a href="#" class="footer-link" style="color: grey;">District</a></li>
                        <li><a href="#" class="footer-link" style="color: grey;">Hyperpure</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h4 style="color:white !important;">Partnership</h4>
                    <ul>
                        <li><a href="#" class="footer-link" style="color: grey;">Investor Relations</a></li>
                        <li><a href="#" class="footer-link" style="color: grey;">For Restaurants</a></li>
                        <li><a href="#" class="footer-link" style="color: grey;">Partner With Us</a></li>
                        <li><a href="#" class="footer-link" style="color: grey;">Apps For You</a></li>
                        <li><a href="#" class="footer-link" style="color: grey;">For Delivery Partners</a></li>
                        <li><a href="#" class="footer-link" style="color: grey;">Learn More</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h4 style="color:white !important;">Legal</h4>
                    <ul>
                        <li><a href="#" class="footer-link" style="color: grey;">Privacy</a></li>
                        <li><a href="#" class="footer-link" style="color: grey;">Security</a></li>
                        <li><a href="#" class="footer-link" style="color: grey;">Terms of Service</a></li>
                        <li><a href="#" class="footer-link" style="color: grey;">Help & Support</a></li>
                        <li><a href="#" class="footer-link" style="color: grey;">Report a Fraud</a></li>
                        <li><a href="#" class="footer-link" style="color: grey;">Blog</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h4 style="color:white !important; margin-left:10px;">Follow Us</h4>
                    <ul class="social-links" style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 7px; list-style: none; padding: 0;">
                        <li style=" margin-left: 78px;"><a href="#" style="color: grey;"><i class="icon-facebook"></i></a></li>
                        <li style=" margin-left: -78px;"><a href="#" style="color: grey;"><i class="icon-twitter"></i></a></li>
                        <li style=" margin-left: 78px;"><a href="#" style="color: grey;"><i class="icon-instagram"></i></a></li>
                        <li style=" margin-left: -78px;"><a href="#" style="color: grey;"><i class="icon-whatsapp"></i></a></li>
                        <li style=" margin-left: 78px;"><a href="#" style="color: grey;"><i class="icon-snapchat"></i></a></li>
                        <li style=" margin-left: -78px;"><a href="#" style="color: grey;"><i class="icon-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <hr style="border: 0.5px solid grey; margin: 5px 0;">
            <p style="color: lightgrey; font-size: 14px; text-align: center; margin: auto;">
                By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies.</p>
            <p style="color: lightgrey; font-size: 14px; text-align: center; max-width: 80%; margin: auto;"> All trademarks are properties of their respective owners. <br>
            </p>
            <!-- Footer Bottom -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p style="color: white;margin-top:10px;">© 2025 FeastExpress. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
